<!doctype html>
html(lang=`${i18n.language || defaultLanguage}`)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet",href="/style.css")
    title= title
    include i18n/_head_links.pug
  body
    header
      = permalink
      nav(aria-labelledby="languageSwitcherHeading")
        h2#languageSwitcherHeading(hidden="") Languages
        each language in languages
          - 
            const translationUrl = get(groups.byKeyByLanguage, [i18n.key, language, 'outputUrl']);
            let href;
            if (translationUrl) { 
              href = translationUrl
            } else {
              href = language === defaultLanguage ? '/' : `/${language}`  
            }

            currentAttr = i18n.language === language ? 'true' : null
          | !{' '}
          a(href=href, 
            hreflang=language, 
            aria-current=currentAttr)
            = messages.languageSwitcher[language]
        
    main
      != contents
