<!doctype html>
html(lang=`${i18n.language || defaultLanguage}`)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title
      if title
        = title
        = ' - ' 
      = siteTitle
    link(rel="stylesheet",href='/style.css?version=' + Date.now())
    link(rel="stylesheet",href='/print.css?version=' + Date.now(),media="print")
    
    include i18n/_head_links.pug

    - const rssUrl = get(groups.byKeyByLanguage, ['feed', i18n.language, 'outputUrl'])
    link(rel="alternate",type="application/rss+xml",href=rssUrl)
    include _favicons.pug
  body
    a.skip-link(href="#main") 
      = messages.skipLinkLabel[i18n.language]
    header.site-header.container
      nav(aria-labelledby="site-navigation-label",role="navigation")
        h2#site-navigation-label(hidden="") Site
        a.link-reversed.brand(
          href=get(groups.byKeyByLanguage, ['index', i18n.language, 'outputUrl'])
          )
          | Romaric Pascal
        = ' '
        a(
          href=get(groups.byKeyByLanguage, ['posts/index', i18n.language, 'outputUrl'])
          )
          = get(groups.byKeyByLanguage, ['posts/index', i18n.language, 'title'])
        = ' '
        a(
          href=get(groups.byKeyByLanguage, ['me', i18n.language, 'outputUrl'])
          )
          = get(groups.byKeyByLanguage, ['me', i18n.language, 'title'])
        = ' '
        a(href="mailto:hello@romaricpascal.is") Contact
      include i18n/_language_switcher.pug
    main#main(class= (prose === false ? '' : 'prose'))
      block contents
        != contents
      
      include _for_hire

    footer.site-footer(role="contentinfo")
      | © #{new Date().getFullYear()} Romaric Pascal
      |  -  
      a(href="https://github.com/rhumaric", rel="me") Github
      = ' '
      a(href="https://twitter.com/romaricpascal", rel="me") Twitter
      = ' '
      |  - 
      a(href=rssUrl, rel="alternate") RSS
