<!doctype html>
html(lang=`${i18n.language || defaultLanguage}`)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title
      if title
        = title
        = ' - ' 
      = siteTitle
    link(rel="stylesheet",href="/style.css")
    
    include i18n/_head_links.pug

    - const rssUrl = get(groups.byKeyByLanguage, ['feed', i18n.language, 'outputUrl'])
    link(rel="alternate",type="application/rss+xml",href=rssUrl)
  body
    a.skip-link(href="#main") Skip to content
    header.site-header.container
      a.link-discreet.link-reversed.brand(
        href=get(groups.byKeyByLanguage, ['index', i18n.language, 'outputUrl'])
        )
        | Romaric Pascal
      include i18n/_language_switcher.pug
        
    main#main.container
      block contents
        != contents

    footer.site-footer
      | © #{new Date().getFullYear()} Romaric Pascal
      |  -  
      a(href="https://github.com/rhumaric", rel="me") Github
      = ' '
      a(href="https://twitter.com/romaricpascal", rel="me") Twitter
      = ' '
      |  - 
      a(href=rssUrl, rel="alternate") RSS
      = ' '
      - const mastodonHandle = get(messages, ['mastodonHandle', i18n.language])
      a(href=`https://toots.romaricpascal.com/@${mastodonHandle}`, rel="me") ActivityPub
